@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root{
    --transition: all 0.7s ease;
    --yellow: #f9d342;
    --dark: #292826;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
    background-color: lightskyblue;
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}

.navigation
{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}


.navigation li
{
    list-style: none;
    margin-left: 1.75rem;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;

}


.navigation li a
{
    text-decoration: none;
    color: #fff;
    font-weight:300 ;
}

.logo{
    height: 4rem;
}
.brand-logo{
    margin-right: auto;
    margin-top: 0;
}


.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: -10px 2px;
    cursor: pointer;
    border-radius: 16px;
    
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    padding: 8px 0;
}
img{
    width: 100%;
    display: block;
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}


.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top span{
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
}
.head-top span:hover{
    color: yellow;
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 1px solid #fff;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.3);
    color:#f9d342;
    cursor: pointer;
    transition: var(--transition);
}
.head-btn:hover{
    background: transparent;
    color: #f9d342;
}
@media(max-width: 500px){
    .head-btn{
        font-size: 17px;
    }
    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}


.sidenav{
    background: #292826;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 60%;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}


.sidenav.show{
    right: 0;
}

.cancel-btn{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
}
.cancel-btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
    margin-right: 90%;
}
.navbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
    opacity: 0.8;
    letter-spacing: 2%;
    transition: var(--transition);
    margin-left: 80%;
}
.navbar li a:hover{
    padding-left: 50%;
}
.sign-up, .log-in{
    background: var(--yellow);
    color: #fff;
}
@media(max-width: 400px){
    .sidenav{
        width: 100vw;
    }
}





.blogs{
    margin-top: 60px;
}
.blog{
    margin-top: 60px;
    padding-bottom: 25px;
    background: -webkit-linear-gradient(#f9d342,#ddd) ;
    color:#292826;
}
.blog-text{
    padding: 5px 20px;
    margin-top: 40px;
}
.blog-text h3{
    font-size: 30px;
}
.blog-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.blog-text ul li{
    padding: 7px 0;
}
.blog-text ul li i{
    color: var(--yellow);
    margin-right: 10px;
}

.blog-image{
    overflow: hidden;
}
.blog-image img{
    transition: var(--transition);
}
.blog-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .blogs-container{
        display: flex;
        flex-wrap: wrap;
    }
    .blog{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .blogs-container{
        flex-direction: column;
    }
    .blog{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .blog-image{
        flex: 1;
    }
    .blog-image img{
        height: 100%;
    }
    .blog-text{
        flex: 1;
    }
    .blog:nth-child(even){
        flex-direction: row-reverse;
    }
}

